<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
    	<!-- meta charec set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!-- Page Title -->
        <title>Error 500</title>	
        <link rel="icon" type="image/png" href="{{url_for('static', filename = "assetsmain/favicon.ico")}}">	
		<!-- Meta Description -->
        <meta name="description" content="Blue One Page Creative HTML5 Template">
        <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
        <meta name="author" content="Muhammad Morshed">
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Google Font -->
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="{{url_for('static', filename="assetsmain/css/font-awesome.min.css")}}">
		<!-- Twitter Bootstrap css -->
        <link rel="stylesheet" href="{{url_for('static', filename="assetsmain/css/bootstrap.min.css")}}">
		<!-- jquery.fancybox  -->
        <link rel="stylesheet" href="{{url_for('static', filename="assetsmain/css/jquery.fancybox.css")}}">
		<!-- animate -->
        <link rel="stylesheet" href="{{url_for('static', filename="assetsmain/css/animate.css")}}">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="{{url_for('static', filename="assetsmain/css/main.css")}}">
		<!-- media-queries -->
        <link rel="stylesheet" href="{{url_for('static', filename="assetsmain/css/media-queries.css")}}">

		<!-- Modernizer Script for old Browsers -->
        <script src="{{url_for('static', filename="assetsmain/js/modernizr-2.6.2.min.js")}}"></script>

    </head>
	
    <body id="body">
	
		<!-- preloader -->
		<div id="preloader">
			<img src="{{url_for('static', filename="assetsmain/img/preloader.gif")}}" alt="Preloader">
		</div>
		<!-- end preloader -->

		
		
		
        <!--
        Home Slider
        ==================================== -->
		
		<section id="slider">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			
				<!-- Indicators bullet -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				</ol>
				<!-- End Indicators bullet -->				
				
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox"> 
					
					<!-- single slide -->
					<div class="item active" style="background-image: url(static/assetsmain/img/bannerlost500.jpg);">
					<h2 data-wow-duration="1000ms" class="wow slideInRight animated">
						<div class="footer-single"> &nbsp;<a href="{{url_for('index')}}">
							<img src="{{url_for('static', filename="assetsmain/img/logo.png")}}" alt=""></a>
							
						
					</div></h2>
						<div class="carousel-caption">
						<h2 data-wow-duration="700ms" data-wow-delay="500ms" class="wow bounceInDown animated"><span> ERROR 500 (Server Error) </span></h2>
							<h3 data-wow-duration="1000ms" class="wow slideInLeft animated"><span class="color">Please refresh the Page</h3>
							
							
							
						</div>
					</div>
					<!-- end single slide -->

					
					
				</div>
				<!-- End Wrapper for slides -->
				
			</div>
		</section>
		
        <!--
        End Home SliderEnd
        ==================================== -->
		<footer id="footer" class="footer">
			<div class="container">


<ul class="social-links text-center">
								<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
								<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble fa-lg"></i></a></li> 
							</ul>
						
						
		

			</div>
		</footer>
		
		<a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>
		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src="{{url_for('static', filename="assetsmain/js/jquery-1.11.1.min.js")}}"></script>
		<!-- Single Page Nav -->
        <script src="{{url_for('static', filename="assetsmain/js/jquery.singlePageNav.min.js")}}"></script>
		<!-- Twitter Bootstrap -->
        <script src="{{url_for('static', filename="assetsmain/js/bootstrap.min.js")}}"></script>
		<!-- jquery.fancybox.pack -->
        <script src="{{url_for('static', filename="assetsmain/js/jquery.fancybox.pack.js")}}"></script>
		<!-- jquery.mixitup.min -->
        <script src="{{url_for('static', filename="assetsmain/js/jquery.mixitup.min.js")}}"></script>
		<!-- jquery.parallax -->
        <script src="{{url_for('static', filename="assetsmain/js/jquery.parallax-1.1.3.js")}}"></script>
		<!-- jquery.countTo -->
        <script src="{{url_for('static', filename="assetsmain/js/jquery-countTo.js")}}"></script>
		<!-- jquery.appear -->
        <script src="{{url_for('static', filename="assetsmain/js/jquery.appear.js")}}"></script>
		<!-- Contact form validation -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
		<!-- Google Map -->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<!-- jquery easing -->
        <script src="{{url_for('static', filename="assetsmain/js/jquery.easing.min.js")}}"></script>
		<!-- jquery easing -->
        <script src="{{url_for('static', filename="assetsmain/js/wow.min.js")}}"></script>
		<script>
			var wow = new WOW ({
				boxClass:     'wow',      // animated element css class (default is wow)
				animateClass: 'animated', // animation css class (default is animated)
				offset:       120,          // distance to the element when triggering the animation (default is 0)
				mobile:       false,       // trigger animations on mobile devices (default is true)
				live:         true        // act on asynchronously loaded content (default is true)
			  }
			);
			wow.init();
		</script> 
		<!-- Custom Functions -->
        <script src="{{url_for('static', filename="assetsmain/js/custom.js")}}"></script>
		
		
    </body>
</html>
