<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
    


    	<!-- meta charec set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!-- Page Title -->
        <title>Services</title>		
		<!-- Meta Description -->
        <meta name="description" content="Blue One Page Creative HTML5 Template">
        <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
        <meta name="author" content="Muhammad Morshed">
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Google Font -->
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="{{url_for('static', filename="assetsmain1/css/font-awesome.min.css")}}">
		<!-- Twitter Bootstrap css -->
        <link rel="stylesheet" href="{{url_for('static', filename="assetsmain1/css/bootstrap.min.css")}}">
		<!-- jquery.fancybox  -->
        <link rel="stylesheet" href="{{url_for('static', filename="assetsmain1/css/jquery.fancybox.css")}}">
		<!-- animate -->
        <link rel="stylesheet" href="{{url_for('static', filename="assetsmain1/css/animate.css")}}">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="{{url_for('static', filename="assetsmain1/css/main.css")}}">
		<!-- media-queries -->
        <link rel="stylesheet" href="{{url_for('static', filename="assetsmain1/css/media-queries.css")}}">

		<!-- Modernizer Script for old Browsers -->
        <script src="{{url_for('static', filename="assetsmain1/js/modernizr-2.6.2.min.js")}}"></script>

    </head>
	
    <body id="body">
    
		<!-- preloader -->
		<div id="preloader">
			<img src="{{url_for('static', filename="assetsmain/img/preloader.gif")}}" alt="Preloader">
		</div>
		<!-- end preloader -->
	
        <!-- 
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-fixed-top navbar">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
                    <a class="navbar-brand" href="{{url_for('index')}}">
						<h1 id="logo">
							<img src="{{url_for('static', filename="assetsmain1/img/logo.png")}}" alt="Brandi">
						</h1>
					</a>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="/#features">About</a></li>
                        <li><a href="/#works">Work</a></li>
                        <li><a href="/#team">Team</a></li>
                        <li><a href="/#contact">Contact</a></li>
                        

                    </ul>
                    <ul class="nav navbar-nav">
                    {% if user and not user.mverifies %}
                        <li><a href="{{url_for('verify')}}">Verify Mobile</a></li>
                        {% endif %}
                        {% if not user %}
                         <li><a href="{{url_for('login')}}" class="current" target="_top">Sign In</a></li>
                         <li><a href="{{url_for('register')}}" target="_top">Sign Up</a></li>
                         {% endif %}
                         {% if user %}
                        <li><a href="{{url_for('logout')}}">Logout</a></li>
                        {% endif %}
                        </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
            
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
		


		<!--
        Contact Us
        ==================================== -->		
		
		<section id="contact" class="contact">
			<div class="container">
				<div class="row mb50">
				<div class="sec-title text-center mb50 wow fadeInDown animated" data-wow-duration="500ms">
						<h2>SERVICES PANEL</h2>
						<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
					</div>
					
					<!-- contact form -->
					<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="300ms">
					<h1>The Services are:</h1>
					<br>
{% for s in serv %}
                        <a style="color:black;" href="{{url_for('servicesEditwithid', Edit_id=s.id)}}"><b>{{s.name}}</b></a>
                        
<br>
{% endfor %}
<br>
<h6>Tap on the name to Edit</h6>




								</div>
						
					
					<!-- end contact form -->
                            
			</div>
			
		</section>
		
        <!--
        End Contact Us
        ==================================== -->
				<footer id="footer" class="footer">
			<div class="container">


<ul class="social-links text-center">
								<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
								<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble fa-lg"></i></a></li> 
							</ul>
						
						
		

			</div>
			<br><br><br>
			<br>
		</footer>
		<a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>

		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src="{{url_for('static', filename="assetsmain1/js/jquery-1.11.1.min.js")}}"></script>
		<!-- Single Page Nav -->
        <script src="{{url_for('static', filename="assetsmain1/js/jquery.singlePageNav.min.js")}}"></script>
		<!-- Twitter Bootstrap -->
        <script src="{{url_for('static', filename="assetsmain1/js/bootstrap.min.js")}}"></script>
		<!-- jquery.fancybox.pack -->
        <script src="{{url_for('static', filename="assetsmain1/js/jquery.fancybox.pack.js")}}"></script>
		<!-- jquery.mixitup.min -->
        <script src="{{url_for('static', filename="assetsmain1/js/jquery.mixitup.min.js")}}"></script>
		<!-- jquery.parallax -->
        <script src="{{url_for('static', filename="assetsmain1/js/jquery.parallax-1.1.3.js")}}"></script>
		<!-- jquery.countTo -->
        <script src="{{url_for('static', filename="assetsmain1/js/jquery-countTo.js")}}"></script>
		<!-- jquery.appear -->
        <script src="{{url_for('static', filename="assetsmain1/js/jquery.appear.js")}}"></script>
		<!-- Contact form validation -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
		<!-- Google Map -->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<!-- jquery easing -->
        <script src="{{url_for('static', filename="assetsmain1/js/jquery.easing.min.js")}}"></script>
		<!-- jquery easing -->
        <script src="{{url_for('static', filename="assetsmain1/js/wow.min.js")}}"></script>
		<script>
			var wow = new WOW ({
				boxClass:     'wow',      // animated element css class (default is wow)
				animateClass: 'animated', // animation css class (default is animated)
				offset:       120,          // distance to the element when triggering the animation (default is 0)
				mobile:       false,       // trigger animations on mobile devices (default is true)
				live:         true        // act on asynchronously loaded content (default is true)
			  }
			);
			wow.init();
		</script> 
		<!-- Custom Functions -->
        <script src="{{url_for('static', filename="assetsmain1/js/custom.js")}}"></script>
		
		<script type="text/javascript">
			$(function(){
				/* ========================================================================= */
				/*	Contact Form
				/* ========================================================================= */
				
				$('#contact-form').validate({
					rules: {
						password: {
							required: true,
							minlength: 6
						},
						email: {
							required: true,
							email: true
						}
					},
					messages: {
						password: {
							required: "come on, enter your password.. Its secret",
							minlength: "your password must consist of at least 6 characters"
						},
						email: {
							required: "no email, no entry"
						},
						message: {
							required: "um...yea, you have to write something to send this form.",
							minlength: "thats all? really?"
						}
					},
				
					});
			});
		</script>
    </body>
</html>



